.container {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorCode {
  padding-right: 1vw;
  border-right: 3px solid var(--main-text-color);
  margin-right: 1vw;
  opacity: 0.9;
}

.errorMessage {
  opacity: 0.7;
}
