html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.LIGHT {
}

.DARK {
  --nav-bg-color: #383d46;
  --nav-text-color: white;
  --main-bg-color: #282c34;
  --main-text-color: #eef2fa;
}
