.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.imageWrapper {
  width: 22%;
}

.bookContent {
  width: 78%;
  padding: 0 0 0 5%;
  font-size: 1.3rem;
  display: flex;
  flex-wrap: wrap;
}

.image {
  border-radius: 5px;
  border: 5px solid gainsboro;
  opacity: 0.8;
  width: 100%;
  height: auto;
}

.title {
  font-size: 1.5em;
  margin: 1% 0;
}

.description {
  font-size: 1em;
  margin: 0 1%;
}

.infoContainer {
  width: 50%;
}

.menu {
  padding: 0;
  list-style-type: none;
}

.menuItem {
  margin: 0 0.5%;
  display: inline-block;
}
