.container {
  width: 80vw;
  margin: 3% 2%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50%;
  grid-auto-rows: 50%;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  list-style-type: none;
}

.container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, opera */
}
