.fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3%;
  border-color: var(--main-text-color);
  border-radius: 20px;
  opacity: 0.9;
}

.fieldset__noBorder {
  border: none;
}

.legend {
  font-size: 1.5rem;
}

.status {
  text-align: center;
  font-size: 1.2rem;
  padding: 0 0 2%;
}

.formContent {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
