.container {
  padding: 0 2vw;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  opacity: 0.8;
}

.title {
  text-shadow: 1px 1px;
  margin: 0;
}

.subtitle {
  padding-left: 1vw;
}

.link {
  margin-left: auto;
  animation: blink 1s steps(2) infinite;
}

@keyframes blink {
  from {
    color: inherit;
  }
  to {
    color: blue;
  }
}
