.container {
  margin: 0 3vw;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}

.title {
  margin: 2vh 0;
}

.subtitle {
  padding-left: 1vw;
  margin: 1.5vh 0;
}

.link {
  margin: 1vh 0 1vh auto;
  opacity: 1;
  animation: blink 1.5s steps(2) infinite;
  font-weight: 700;
}

@keyframes blink {
  from {
    color: inherit;
  }
  to {
    color: rgb(212, 122, 4);
  }
}
