.status__available {
  color: green;
}

.status__unavailable {
  color: red;
}

.userOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  margin: 2% 0 0 auto;
  padding: 0.7em 2em;
  color: inherit;
  background-color: inherit;
  border: 2px solid var(--main-text-color);
  border-radius: 20px;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  opacity: 0.6;
  outline: none;
}
