.formInput {
  width: 100%;
  padding: 1em;
  border: 2px solid var(--main-text-color);
  background-color: inherit;
  color: inherit;
  opacity: 0.9;
  margin: 1.5% 0;
  font: 0.9em 'Roboto';
}

.formInput::placeholder {
  color: var(--main-text-color);
}

.formInput__validate:valid {
  border: 2px solid green;
}

.formInput__validate:focus:invalid {
  border: 2px solid red;
}

.formInput:focus {
  outline: none;
}

.formInput::placeholder {
  color: inherit;
}

.formInput[name='firstName'],
.formInput[name='lastName'] {
  width: 48%;
}

.formInput[name='lastName'] {
  margin-left: auto;
}
