.container {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.menu {
  display: none;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  list-style-type: none;
}

.container:hover .menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 0.5vw;
  z-index: 1;
  background-color: inherit;
}

.menuItem {
  display: block;
  margin: 1vh 0;
}

.menuLink:hover {
  opacity: 0.8;
}

.menuLink:active {
  opacity: 0.6;
}

.menuLink {
  white-space: nowrap;
}
