.container {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.navMenu {
  display: flex;
  list-style-type: none;
  padding: 0 2vw;
}

.navItem {
  padding: 0 0.7vw;
}

.navLink {
  opacity: 1;
}

.navLink:hover {
  opacity: 0.7;
}

.userMenu {
  display: flex;
  list-style-type: none;
  padding: 0 2vw;
  margin-left: auto;
  align-items: center;
}

.logoutBtn {
  border: none;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
}

.logoutBtn:hover {
  opacity: 0.7;
}
